body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Courier;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  width: 30%;
  background-color: #1c1c1c;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  width: 100%;
  background-color: #090909;
}

.menu-btn {
  cursor: pointer;
  width: 1rem;
  margin: 5px;
}

.menu-btn:hover {
  fill: #b4b4b4;
}

.menu-btn.selected {
  fill: #fff;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92%;
  width: 30%;
}

.message > textarea {
  width: 12rem;
  height: 80%;
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92%;
  width: 30%;
  background-color: #1c1c1c;
}

.machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100vh;
  width: 70%;
  background-color: #2d2d2d;
}

.rotors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 15px;
  margin-bottom: 20px;
}

.external-rotor {
  display: flex;
  align-items: flex-end;
}

.rotor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
  height: 5rem;
  background-image: linear-gradient(
    to bottom,
    #1c1c1c,
    #181818,
    #141414,
    #0f0f0f,
    #090909,
    #090909,
    #090909,
    #090909,
    #0f0f0f,
    #141414,
    #181818,
    #1c1c1c
  );
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rotor-window {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 1.2rem;
  width: 1.2rem;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 3px;
}

.rotor-number {
  background-color: #ebebeb;
  color: #1c1c1c;
  border: solid 1px #2d2d2d;
  font-size: 0.7rem;
  text-align: center;

  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.top-rotor-btn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1c1c1c;
  color: #fff;
  border: 0;
}

.bot-rotor-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1c1c1c;
  color: #fff;
  border: 0;
}

.rotor > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
  height: 5rem;
  font-size: 0.6rem;
  opacity: 0;
  cursor: pointer;
}

.keyboards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-keyboard .keyboard-line button {
  border: solid 2px #fff;
  border-radius: 50px;
  background-color: #1c1c1c;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: #fff;
}

.input-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.output-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.output-keyboard .keyboard-line button {
  font-weight: bold;
  border-radius: 50px;
  background-color: #1c1c1c;
  border: solid 2px #1c1c1c;

  color: #fff;
}

.keyboard-line {
  display: flex;
  gap: 15px;
}

.special-keyboard-line {
  display: flex;
  gap: 15px;
  margin: 0;
}

.keyboard-topline {
  margin-left: 15px;
}

.keyboard-botline {
  margin-right: 15px;
}

.on {
  color: yellow !important;
  box-shadow: 0 0 15px 5px yellow;
  text-shadow: 0 0 10px yellow;
  transition: box-shadow 0.3s ease-in-out;
}

.config-gearbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  width: 13.7rem;
  margin: 5px;
  background-color: #2d2d2d;
  color: #fff;
}

.configuration {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.5rem;
}

.configuration > h1 {
  font-size: 0.5rem;
}

.configuration > label {
}

.configuration-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.configuration-options > select {
  width: 2rem;
  height: 1rem;
  font-size: 0.5rem;
}

.plugboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
  margin: 5px;
  background-color: #2d2d2d;
}

.plugboard-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.plug-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plug-element > p {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.7rem;
  margin: 5px;
}

.plug-element > button {
  margin-top: 0;
  width: 0.5rem;
  height: 0.6rem;
  border-radius: 25px;
  border: 0;
}

.input-keyboard .keyboard-line button:active {
  background-color: #2d2d2d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
